@model GameShop.Models.Game
<div class="text-center">
    <h1>@Model.Name</h1>
    <img class="img-thumbnail" src="@Model.Image" width="400" height="400"/>
    <h6>@Model.LongDescription</h6>
    <p>Цена: @Model.Prise.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.GameId">Добавить в корзину</a></p>
</div>